<% if logged_in? %>
<div>
  <%= link_to '＋新規ルーム作成', new_room_path, class: 'btn btn-lg btn-success' %>
</div>
<h1 class="text-center">Rooms</h1>

  <div>
      <%= render 'rooms/rooms', rooms: @rooms %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the "<span class="text-success">Movism!</span>"</h1>
      <h3>Let's talk about movies!</h3>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
<% end %>